  {% load static %}

<footer class="footer mt-auto pt-3 bg-dark text-white np-element-dark">
  <!-- Grid container -->
  <div class="container-fluid p-4">
    <div class="row">
      <div class="col-md-6 col-xl-4">
        <a class="navbar-brand logo-top me-3" href="#">
		      <img src="{% static 'img/Logo.png' %}" width="40" height="40" class="d-inline-block align-text-top me-4" alt="" loading="lazy">
			    	Brand Name
        </a>
      </div>

      <div class="col-md-6 col-xl-8 d-flex justify-content-end">
      <!-- Section: Social media -->
    
        <!-- Telegram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-telegram"></i>
        </a>

        <!-- Whatsapp -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-whatsapp"></i>
        </a>

        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i>
        </a>

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i>
        </a>

        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i>
        </a>

    
      <!-- Section: Social media -->
      </div>
    </div>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">

    © {{now}} Copyright </br></br> 

    <style>.heart{color:#e25555;}</style> 
    Made with <span class="heart">♥</span> in  
    <a class="text-white" href="https://lapkinlab.ru/">
      <img src="{% static 'img/lapkinlab-logo.png' %}" height="40" class="d-inline-block align-text-top me-4" alt="" loading="lazy" style="margin-top: -20px;"></a>

  </div>
  <!-- Copyright -->

</footer>

