{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top mb-5 np-element-dark">
	<div class="container-fluid">

	  <a class="navbar-brand logo-top me-3 text-light" href="#">
		      <img src="{% static 'img/Logo.png' %}" width="40" height="40" class="d-inline-block align-text-top me-4" alt="" loading="lazy">
			    	Brand Name
        </a>

	  <div class="contact-top">
                <a class="whatsapp-number" href="https://web.whatsapp.com/" style="background: url(static/img/wa-image-color.png) no-repeat center top / cover"></a>
                <a class="telegram-number" href="https://t.me/" style="background: url(static/img/tg-image-color.png) no-repeat center top / cover"></a>
              <a class="phone-number text-light" href="tel:+74957777777">
              	<h5>+7(495)-777-77-77</h5></a>
      </div>
      </div>
	</nav>
	<br>
	<br>
	<br>
	<br>


	